<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="1073741824" />
        </requestFiltering>
      </security>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\StreaminAppCoreWebApp.exe" arguments=".\StreaminAppCoreWebApp.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="OutOfProcess" requestTimeout="00:10:00" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 66732155-C308-4D4F-ABF8-803D9AC882C0-->