:root {
  font-family: "Segoe UI", sans-serif;
  color: #202124;
  background: #f5f6f8;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
}

turnkey-lit-app {
  display: block;
  min-height: 100vh;
}
