
@{
    ViewBag.Title = "MissingPage";
}

<h2>Missing page - you need to create a viewmodel named @ViewBag.Message - or put a file @ViewBag.Message with extension cshtml in Views/EXT_OverridePages </h2>






