.tk-datepicker__native {
  height: $input-height;

  &:focus {
    box-shadow: 0 0 0 2px unquote('rgba(#{$primary-color}, 0.6)');
    box-shadow: 0 0 0 2px unquote('rgba(var(--primary-color, #{$primary-color}), 0.6)');
  }
}

.tk-datepicker.has-error {
  .tk-datepicker__label {
    @include color-declaration(color, $danger-color, --danger-color);
  }

  .tk-datepicker__native {
    box-shadow: 0 0 0 2px unquote('rgb(#{$danger-color})');
    box-shadow: 0 0 0 2px unquote('rgb(var(--dander-color, #{$danger-color}))');

    &:hover, &:active, &:focus {
      box-shadow: 0 0 0 2px unquote('rgb(#{$danger-color})');
      box-shadow: 0 0 0 2px unquote('rgb(var(--dander-color, #{$danger-color}))');
    }
  }
}

.tk-datepicker__validation-state {
  @include color-declaration(color, $danger-color, --danger-color);
}


